@import "../base/Settings.scss";

#wordcounter-page-container {
  #main-app-container {
    border: 3px solid $blue-alternative;
    @extend .flex-row-center-center;
    width: 80%;
    .app-box {
      width: 50%;
      aspect-ratio: 0.8;
      padding: 2rem;
      @extend .flex-column-start-center;
      &:first-child {
        border-right: 2px solid $blue-alternative;
      }
      form {
        @extend .flex-column-start-start;
        label {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }
        }
        input, textarea {
          margin: 0.3rem 0 0.5rem;
          font-size: 1rem;
          text-align: center;
          width: 100%;
          height: 2rem;
          border: 0;
          border-radius: 5px;
          &#text{
            min-height: 10rem;
            text-align: justify;
            align-self: flex-start;
            padding: 0.5rem;
          }
        }
    
        & > .button-plain {
            margin: 1rem 0;
            background-image: linear-gradient(to right, $positive-primary-color, $positive-secundary-color);
            
            &:active{
              background-image: linear-gradient(to right, $positive-secundary-color, $positive-primary-color);
            }
        }  
        
        #case-sensitive-btn{
            margin: 0 0 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
            &.notCaseSensitive{
                background-color: $negative-primary-color;
                color: #fefefe;
            }
            &.caseSensitive{
                background-color: $secundary-color;
                color: #fefefe;
            }
            
    }
    #display-text-container{
        #display-text-description{
            margin: 0 0 1rem;
            text-align: center;
            &>strong{
                color: #4a5c50
            }
        }
        &>div{
            border: 1px solid $positive-primary-color;
            border-radius: 5px;padding: 1rem;
            min-height: 3rem;
        &>#display-text{
            color: $secundary-color;
            .foundWord{
                color: $negative-primary-color;
                background-color: #88a89291;
                padding: 0 0.2rem;
                line-height: 1.5rem;
                border-radius: 3px;
                border: 0;
            }
        }}
    }
    }
  }
}
