@import "../base/Settings.scss";

#tipcalculator-page-container {
  &>#main-app-container {
    border: 3px solid $blue-alternative;
    @extend .flex-column-center-center;
    width: 60%;

    &>#wiki-link{
      color: $secundary-color;
      text-decoration: underline;
    }
  }
}
