@import "../base/Settings.scss";

#guesnumber-page-container {
  & > #main-app-container {
    border: 3px solid $blue-alternative;
    @extend .flex-column-center-center;
    width: 60%;
    padding: 2rem;
    .guessed-number{
        color: $positive-primary-color;
        border: 5px solid $positive-primary-color;
        border-radius: 50%;
        margin: 0;
        width: 5rem;
        height: 5rem;
        @extend .flex-row-center-center
    }
    .contact-form {
      width: 60%;
      @extend .flex-row-evenly-center;
      & > #number-input {
        width: 6rem;
        border: 0;
        border-radius: 5px;
        padding: 0.5rem;
      }
      & > #number-input::-webkit-outer-spin-button,
      & > #number-input::-webkit-inner-spin-button {
        -webkit-appearance: initial;
        appearance: initial;
      }

      & > .button-plain {
        width: 6rem;
        margin: 1rem 0;
        padding: 0.25rem;
        background-image: linear-gradient(
          to right,
          $positive-primary-color,
          $positive-secundary-color
        );

        &:active {
          background-image: linear-gradient(
            to right,
            $positive-secundary-color,
            $positive-primary-color
          );
        }
      }
    }
    #array-guesses {
      width: 75%;
      @extend .flex-row-center-center;
      flex-wrap: wrap;
      padding: 1rem 2rem;
      * {
        @extend .flex-row-center-center;
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        border-radius: 50%;
        color: #fefefe;
      }
      .correct-number {
        background-color: $positive-secundary-color;
      }
      .incorrect-number {
        background-color: $negative-secundary-color;
      }
    }
  }
}
